.row {
  background: #f8f9fa;
  margin-top: 20px;
  color: blue;
}

.col {
  border: solid 1px #6c757d;
  padding: 10px;
  color: blue;
}

img {
	width: 100px;
	height: auto;
	justify-content: center;
}

h1 {
	text-align: center;
	font-weight: 20px;
}